.note-description.collapsed {
max-height: 5.6rem;
overflow: hidden;
text-overflow: ellipsis;
display: --webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
white-space: normal;
word-break: break-word;
line-height: 1.4rem;

}

.note-description.expanded {
max-height: none;
overflow: visible;
}

.toggle-btn {
background: transparent;
border: none;
color: #bb2b7a;
cursor: pointer;
font-size: 0.9rem;
font-weight: 500;
align-self: flex-start;
padding: 0;
}

.toggle-btn:hover {
text-decoration: underline;
}

.share-menu {
  animation: fadeIn 0.3s ease-in-out;
  z-index: 10;
  position: relative;
  width: fit-content;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
